@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.tasks-wrap {
    .field-wrap {
        @include center-all;
        flex: 1 1 auto;
    }
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background: #F4F4F4;
    border-radius: 3px;
}
.name-field {
    border:0;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    overflow-y: auto;
    max-width: 185px;
    @media screen and (max-width: 767px) {
        max-width: 77px;
    }
}
.task-info {
    display: inline-block;
}
.date-area {
    color:$color_secondary;
    padding: 5px 0;
    font: {
        style: italic;
        size: 1rem;
    }
    .date-edit {
        padding-left: 10px;
    }
}

.field {
    width: 100%;
}

.edit-field {
    display: flex;
}
