@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

main {
    flex: 1 0 auto;
    padding: 40px 0;
    &.open {
        transition: transform .3s;
        transform: translateY(0);
    }
    .container {
        position: relative;
    }
}

.controls-task-main{
    .control-item {
        height: 35px;
        position: relative;
        @media screen and (max-width: 767px) {
            width:100%;
        }
        &:not(:last-child){
            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
    input {
        min-width: 200px;
        height: 100%;
        border: 1px solid #E7E7E7;
        border-right: 0;
        padding: 0 5px;
        border-radius:  3px 0 0 3px;
        @media screen and (max-width: 767px) {
            width:100%;
        }
    }
}
