@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

main {
    flex: 1 0 auto;
    padding: 40px 0;
    &.open {
        transition: transform .3s;
        transform: translateY(0);
    }
    .container {
        position: relative;
    }
}

