@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.btn-status-item {
    @include button-color(#FAC174);
    &::after {
        content: 'cached';
    }
}
.btn-edit-item {
    @include button-color(#27A4DE);
    &::after {
        content: 'edit';
    }
}
.btn-delete-item {
    @include button-color(#F1646C);
    &::after {
        content: 'delete_forever';
    }
}
.btn-save-item {
    @include button-color(#9ED5C0);
    &::after {
        content: 'save';
    }    
}
.btn-cancel-item {
    @include button-color(#27A4DE);
    &::after {
        content: 'close';
        font: {
            weight: bold;
        }
    }
}

.btn-status-item {
    opacity: 1;
}
.btn-status-item[data-status = '0'],
.btn-status-item[data-status = '2'] {
    opacity: .3;
    &:hover {
        opacity: .8;
    }
}

.complete {
    .btn-status-item {
        display: none;
    }
}

